body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
/* banner starts */

.full-width-content{
    background: rgba(229, 84, 115, 0.10);
    
}
.banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 60px;
}
.banner-title{  
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-size: 50px;

}
.banner-title h4{
    line-height: 0px;
}
.banner-title p{
    font-size: 18px;
}
.banner img{ 
   
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 12px;
    color: white;
    margin-top: 10px;
}
/* banner ends */
/* main contents */
.main-content{
    max-width: 900px;
    margin: 0 auto;
}
.content-title{
    text-align: center;
}
.content-description{
    text-align: center;
    margin-bottom: 50px;
}
/* feature starts */
.feature-pic{
    display: flex; 
     gap: 30px; 
     margin-bottom: 10px;
}
.pic-details{
 width: 340px;
 height:380px;
 border: 1px solid white;
 text-align: center;
 text-decoration: underline;
 margin-bottom: 60px;
}
.pink-pic{
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15); 
    height: 380px;
    position: relative;
    
}
.pink-pic img{
    position: absolute;
    bottom: 0px;
    left: 10px;
    width: 70%;
    height: 70%;
}
.blue-pic{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 380px;
    position: relative;
    
}
.blue-pic img{
    position: absolute;
    bottom: 0px;
    left: 10px;
    width: 70%;
    height: 70%;
}
.yellow-pic{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 380px;
    position: relative;
    
}
.yellow-pic img{
    position: absolute;
    bottom: 0px;
    left: 10px;
    width: 70%;
    height: 70%;
}
/* Feature Ends */
/* hot-deal starts */
.hot-deal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 60px;
}
.discount{
    color:#E55473;
    font-weight: 800;
}
/* hot-deal ends */
.social-media-flower{
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
}
.social-media-flower img{
    width: 240px;
}

/* News Portal Starts */
.news-portal{
   background-image: url("./Rectangle\ 9.png");
   height: 300px;
   width: 990px;
   background-repeat: no-repeat;
   position: relative;
   margin-bottom: 60px;
}
.news-content{
    position: absolute;
    margin-top: 100px;
    left:400px
}
.news-content p,h1{
    font-size: 12px;
    line-height: 4px;
}
.news-content >input{
    padding: 12px 20px;
    border: 0;
    margin-right: 5px;
}

/* news Portal Ends */
.upcoming-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 60px;
}
.bonus-gift{
    color:#E55473;
    font-weight: 800;
}
.price{
    font-weight: 800;
    color:green
}
/* Footer starts */
.footer-background{
    height: 350px;
    background-color: black;
    position: relative;
}
.footer-content{
    position: absolute;
    color: white;
    top: 140px;
    left: 500px;
}
.footer-background span{
    color:#E55473
}
.footer-background p{
 font-size: 12px;
}
